language: generic

sudo: required
services:
  - docker

before_install:
  - docker build -t dev1000/react-test -f ./client/Dockerfile.dev .

script:
  - docker run -e CI=true dev1000/react-test npm test

after_success:
  - docker build -t dev1000/multi-client ./client
  - docker build -t dev1000/multi-nginx ./nginx
  - docker build -t dev1000/multi-server ./server
  - docker build -t dev1000/multi-worker ./worker

  # Log in to the docker CLI 4
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  # Take those images and push them to docker hub
  - docker push dev1000/multi-client
  - docker push dev1000/multi-nginx
  - docker push dev1000/multi-server
  - docker push dev1000/multi-worker